{block #content}
<h1 style="margin-bottom:50px;">New engine for language pair {$languagePair['url_key']}</h1>

<form class="form-horizontal" method="POST" action="{plink Api:TestSets:addEngine}" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="source-name">Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" class="input-block-level">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="parent-id">Parent</label>
		<div class="controls">
			<select id="parent-id" name="parent-id" >
		  	<option value="NULL">(none)</option>
				{foreach $engines as $anEngine}
			  	<option value="{$anEngine['id']}">{$anEngine['name']} (
			  		{foreach $languagePairs as $lp}
			  			{if $lp['id'] == $anEngine['language_pairs_id']}
			  				{$lp['url_key']}
			  			{/if}
			  		{/foreach}
			  	)</option>
			  {/foreach}
			</select>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Save</button>
			<input type="hidden" name="language-pairs-id" value="{$languagePair['id']}"} />
			<input type="hidden" name="redirect" value="new" />
		</div>
	</div>
</form>
