{block #content}
<h1 style="margin-bottom:50px;">New Language Pair</h1>

<form class="form-horizontal" method="POST" action="{plink Api:TestSets:createLanguagePair}" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="source-language">Source language</label>
		<div class="controls">
			<input type="text" id="source-language" name="source-language" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="target-language">Target language</label>
		<div class="controls">
			<input type="text" id="target-language" name="target-language" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Save</button>
			<input type="hidden" name="redirect" value="new" />
		</div>
	</div>
</form>
