{block #content}
<h1 style="margin-bottom:50px;">Overview</h1>

{if count($languagePairs)}
  {foreach $languagePairs->order( 'url_key' ) as $languagePair}
    <h2>
      {$languagePair['source_language']}-{$languagePair['target_language']}
        <div style="display:inline-block;font-size: 59%;">
          {if $showAdministration }
          <a href="{plink TestSets:deleteLanguagePair $languagePair['id']}">
            &#x1F5D1;
          </a>
          {/if}
        </div>
    </h2>
    <table class="table table-bordered" style="margin-bottom: 10px;">
      <tr>
        <td></td>
        {if count($engines)}
          {foreach $engines as $engine}
            {if $engine['language_pairs_id'] == $languagePair['id']}
              <th style="position:relative;">
                <a href="{plink TestSets:enginesTree $engine['id']}">{$engine['name']}</a>
                <div style="position:absolute;top:10px;right:3px;">
                  {if $showAdministration }
                  <a href="{plink TestSets:deleteEngine $engine['id']}">
                    &#x1F5D1;
                  </a>
                  {/if}
                </div>
              </th>
            {/if}
          {/foreach}
        {/if}
        {if $showAdministration }
          <td>
            <a href="{plink TestSets:engine $languagePair['id']}" class="btn btn-default">Add Engine</a>
          </td>
        {/if}
      </tr>
      {if count($testSets)}
        {foreach $testSets as $testSet}
          {if $testSet['language_pairs_id'] == $languagePair['id']}
            <tr>
              <th style="position:relative;">
                <a href="{plink Tasks:list $testSet['id']}">{$testSet['name']}</a>
                <div style="position:absolute;top:10px;right:24px;transform:scaleX(-1);">
                  {if $showAdministration }
                  <a href="{plink TestSets:edit $testSet['id']}" style="color:black;">
                    &#9998;
                  </a>
                  {/if}
                </div>
                <div style="position:absolute;top:10px;right:3px;">
                  {if $showAdministration }
                  <a href="{plink TestSets:delete $testSet['id']}">
                    &#x1F5D1;
                  </a>
                  {/if}
                </div>
              </th>
              {foreach $engines as $engine}
                {if $engine['language_pairs_id'] == $languagePair['id']}
                  {if $tableData[$languagePair['id']][$testSet['id']][$engine['id']] == "0"}
                    <td>
                      {if $showAdministration }
                        <a href="{plink Tasks:new $testSet['id'], $engine['id']}" class="btn btn-default">Add Task</a>
                      {/if}
                    </td>

                  {else}
                    <td style="position:relative;">
                      {$tableData[$languagePair['id']][$testSet['id']][$engine['id']]['description']}
                      <div style="position:absolute;top:10px;right:24px;transform:scaleX(-1);">
                        {if $showAdministration }
                        <a href="{plink Tasks:edit $tableData[$languagePair['id']][$testSet['id']][$engine['id']]['id']}" style="color:black;">
                          &#9998;
                        </a>
                        {/if}
                      </div>
                      <div style="position:absolute;top:10px;right:3px;">
                        {if $showAdministration }
                        <a href="{plink Tasks:delete taskId => $tableData[$languagePair['id']][$testSet['id']][$engine['id']]['id']}">
                          &#x1F5D1;
                        </a>
                        {/if}
                      </div>
                    </td>
                  {/if}
                {/if}
              {/foreach}
              {if $showAdministration }
                <td></td>
              {/if}
            </tr>
          {/if}
        {/foreach}
      {/if}
      {if $showAdministration }
        <tr>
          <td>
            <a href="{plink TestSets:new $languagePair['id']}" class="btn btn-default">Add Test Set</a>
          </td>
          {foreach $engines as $engine}
            {if $engine['language_pairs_id'] == $languagePair['id']}
              <td></td>
            {/if}
          {/foreach}
          <td></td>
        </tr>
      {/if}
    </table>
    <a href="{plink TestSets:graphicalComparison $languagePair['id']}" class="btn btn-default" style="margin-bottom:40px;">View graphical comparison</a>
  {/foreach}
{else}
  <div class="alert">
    There is no data yet.
  </div>
{/if}

{if $showAdministration}
  <div>
    <a href="{plink TestSets:lp}" class="btn btn-default" style="margin-top:25px;">Add Language Pair</a>
  </div>
{/if}

{if $showAdministration}
  <div>
    <a href="{plink TestSets:enginesTreeGlobal}" class="btn btn-default" style="margin-top:25px;">View global engine hierarchy</a>
  </div>
{/if}




