{block #content}
<h1>Overview</h1>

{if count($languagePairs)}
  {foreach $languagePairs->order( 'url_key' ) as $languagePair}
    <h2>{$languagePair['source_language']}-{$languagePair['target_language']}</h2>
    <table class="table table-bordered">
      <tr>
        <td></td>
        {if count($engines)}
          {foreach $engines as $engine}
            {if $engine['language_pairs_id'] == $languagePair['id']}
              <th>{$engine['name']}</th>
            {/if}
          {/foreach}
        {/if}
        <td>
          <a href="{plink TestSets:engine $languagePair['id']}" class="btn btn-default">Add Engine</a>
        </td>
      </tr>
      {if count($testSets)}
        {foreach $testSets as $testSet}
          {if $testSet['language_pairs_id'] == $languagePair['id']}
            <tr>
              <th style="position:relative;">
                <a href="{plink Tasks:list $testSet['id']}">{$testSet['name']}</a>
                <div style="position:absolute;top:10px;right:24px;transform:scaleX(-1);">
                  <a href="{plink TestSets:edit $testSet['id']}" style="color:black;">
                    &#9998;
                  </a>
                </div>
                <div style="position:absolute;top:10px;right:3px;">
                  <a href="{plink TestSets:delete $testSet['id']}">
                    &#x1F5D1;
                  </a>
                </div>
              </th>
              {foreach $engines as $engine}
                {if $engine['language_pairs_id'] == $languagePair['id']}
                  {if $tableData[$languagePair['id']][$testSet['id']][$engine['id']] == "0"}
                    <td>
                      <a href="{plink Tasks:new $testSet['id'], $engine['id']}" class="btn btn-default">Add Task</a>
                    </td>
                  {else}
                    <td style="position:relative;">
                      {$tableData[$languagePair['id']][$testSet['id']][$engine['id']]['description']}
                      <div style="position:absolute;top:10px;right:24px;transform:scaleX(-1);">
                        <a href="{plink Tasks:edit $tableData[$languagePair['id']][$testSet['id']][$engine['id']]['id']}" style="color:black;">
                          &#9998;
                        </a>
                      </div>
                      <div style="position:absolute;top:10px;right:3px;">
                        <a href="{plink Tasks:delete taskId => $tableData[$languagePair['id']][$testSet['id']][$engine['id']]['id']}">
                          &#x1F5D1;
                        </a>
                      </div>
                    </td>
                  {/if}
                {/if}
              {/foreach}
              <td></td>
            </tr>
          {/if}
        {/foreach}
      {/if}
      <tr>
        <td>
          <a href="{plink TestSets:new $languagePair['id']}" class="btn btn-default">Add Test Set</a>
        </td>
        {foreach $engines as $engine}
          {if $engine['language_pairs_id'] == $languagePair['id']}
            <td></td>
          {/if}
        {/foreach}
        <td></td>
      </tr>
    </table>
  {/foreach}
{else}
  <div class="alert">
    There is no data yet.
  </div>
{/if}

{if $showAdministration}
  <a href="{plink TestSets:lp}" class="btn btn-default">Add Language Pair</a>
{/if}



