{block #content}
<h1>New Test Set</h1>

<form class="form-horizontal" method="POST" action="{plink Api:TestSets:upload}" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="language_pairs_id">Language Pair</label>
		<div class="controls">
			<select id="language_pairs_id" name="language_pairs_id" class="input-block-level">
			  <option value="0">en-nl</option>
			  <option value="1">fr-ru</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<input type="text" id="description" name="description" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="source">Source</label>
		<div class="controls">
			<input type="file" id="source" name="source" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="reference">Reference</label>
		<div class="controls">
			<input type="file" id="reference" name="reference" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Save</button>
			<input type="hidden" name="redirect" value="new" />
		</div>
	</div>
</form>
