log/*
temp/*
vendor/*
data/*
data-mariadb/*
storage/*
storage-mariadb/*
my-data/
my-storage/
profiler/
data.*
storage.*
*.swp
dump.sql

.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
app/database.test

.vscode/